services:

  https_setuper:
    container_name: https_setuper
    build:
      context: ./https_setuper
      dockerfile: https_setuper-dockerfile
    image: https_setuper
    pull_policy: never
    user: "0"
    volumes: 
      - /home/trans/prom/volume/ELK/certs:/usr/share/elasticsearch/config/certs
  
  password_setuper:
    container_name: password_setuper
    build:
      context: ./password_setuper
      dockerfile: password_setuper-dockerfile
    image: password_setuper
    pull_policy: never
    environment:
      - MAX_RETRIES=5
      - ELS_PASS=${ELS_PASS}
      - LOGSTASH_PASS=${LOGSTASH_PASS}
      - KIBANA_PASS=${KIBANA_PASS}
    volumes:
      - /home/trans/prom/volume/ELK/certs/ca/ca.crt:/usr/share/elasticsearch/config/certs/ca.crt:ro
    networks:
      - ELK-networks
    depends_on:
      elasticsearch:
        condition: service_healthy

  filebeat:
    container_name: filebeat
    #we need to be in root to access the docker socket and communicate throught it
    user: root
    build:
      context: ./filebeat
      dockerfile: filebeat-dockerfile
    image: filebeat
    pull_policy: never
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - fb_volume:/usr/share/filebeat/data
      - /home/trans/prom/volume/ELK/certs/ca/ca.crt:/usr/share/filebeat/config/certs/ca.crt:ro
      - /home/trans/prom/volume/ELK/certs/filebeat:/usr/share/filebeat/config/certs/filebeat:ro
    networks:
      - ELK-networks
    depends_on:
      logstash:
        condition: service_healthy

  logstash:
    container_name: logstash
    build:
      context: ./logstash
      dockerfile: dockerfile-logstash
    image: logstash
    pull_policy: never
    environment:
      - "LS_JAVA_OPTS=-Xms1024m -Xmx1024m"
      - LOGSTASH_PASSWORD=${ELS_PASS}
    volumes:
      - logstash_queue:/usr/share/logstash/data
      - /home/trans/prom/volume/ELK/certs/ca/ca.crt:/usr/share/logstash/config/certs/ca.crt:ro
      - /home/trans/prom/volume/ELK/certs/logstash:/usr/share/logstash/config/certs/logstash:ro
    networks:
      - ELK-networks
    expose:
      - 5044
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9600/_node/stats/pipelines | grep -q '\"transcendence_ELK\"'"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      password_setuper:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 1200mb
    ulimits:
      nofile:
        soft: 65536
        hard: 65536


  elasticsearch:
    container_name: elasticsearch
    build:
      context : ./elasticsearch
      dockerfile: elasticsearch-dockerfile
    image: elasticsearch
    pull_policy: never
    environment:
      - xpack.security.autoconfiguration.enabled=false
      - ELASTIC_PASSWORD=${ELS_PASS}
      - "ES_JAVA_OPTS=-Xms3000m -Xmx3000m" #ram limitations for the java process
    volumes:
      - els_data:/usr/share/elasticsearch/data
      - /home/trans/prom/volume/ELK/certs/ca/ca.crt:/usr/share/elasticsearch/config/certs/ca.crt:ro
      - /home/trans/prom/volume/ELK/certs/elasticsearch/:/usr/share/elasticsearch/config/certs/elasticsearch:ro
    networks:
      - ELK-networks
    expose:
      - 9200
    deploy:
     resources:
      limits:
        memory: 3500mb #ram limitations for the whole container
    healthcheck:
      test: ["CMD-SHELL", "curl -s --cacert /usr/share/elasticsearch/config/certs/ca.crt -u elastic:${ELS_PASS} https://localhost:9200/_cat/health?v | grep -q 'green\\|yellow'"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      https_setuper:
        condition: service_completed_successfully

  kibana:
    container_name: kibana
    build:
      context: ./kibana
      dockerfile: kibana-dockerfile
    image: kibana
    pull_policy: never
    networks:
      - ELK-networks
    ports:
      - "5601:5601"
    environment:
      - "ELASTICSEARCH_HOSTS=https://elasticsearch:9200"
      - xpack.security.autoconfiguration.enabled=false
      - KIBANA_PASS=${KIBANA_PASS}
    volumes:
      - /home/trans/prom/volume/ELK/certs/ca/ca.crt:/usr/share/kibana/config/certs/ca.crt:ro
      - /home/trans/prom/volume/ELK/certs/kibana:/usr/share/kibana/config/certs/kibana:ro
    depends_on:
      password_setuper:
        condition: service_completed_successfully

networks:
  ELK-networks:
    driver: bridge

volumes:
  fb_volume:
    name: fb_volume
    driver_opts:
      type: none
      o : bind
      device: /home/trans/prom/volume/ELK/fb_data
  logstash_queue:
    name: logstash_queue
    driver_opts:
      type: none
      o: bind
      device: /home/trans/prom/volume/ELK/logstash_queue
  els_data:
    name: els_data
    driver_opts:
      type: none
      o: bind
      device: /home/trans/prom/volume/ELK/els_data
