services:

  filebeat:
    container_name: filebeat
    #we need to be in root to access the docker socket and communicate throught it
    user: root
    build:
      context: ./filebeat
      dockerfile: filebeat-dockerfile
    image: filebeat
    pull_policy: never
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - fb_volume:/usr/share/filebeat/data
    networks:
      - ELK-networks
    healthcheck:
      test: ["CMD", "filebeat", "test", "config"]
      interval: 30s
      retries: 3
      timeout: 10s
      start_period: 10s

  logstash:
    container_name: logstash
    build:
      context: ./logstash
      dockerfile: dockerfile-logstash
    image: logstash
    pull_policy: never
    volumes:
      - logstash_queue:/usr/share/logstash/data
    networks:
      - ELK-networks
    expose:
      - 5044
    depends_on:
      filebeat:
        condition: service_healthy

  elasticsearch:
    container_name: elasticsearch
    build:
      context : ./elasticsearch
      dockerfile: elasticsearch-dockerfile
    image: elasticsearch
    pull_policy: never
    environment:
      - discovery.type=single.node
      - xpack.security.enabled=false #(will be switched to true for https)
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" #ram limitations for the java process
    networks:
      - ELK-networks
    expose:
      - 9200
    deploy:
     resources:
      limits:
        memory: 1gb #ram limitations for the whole container
networks:
  ELK-networks:
    driver: bridge

volumes:
  fb_volume:
    name: fb_volume
    driver_opts:
      type: none
      o : bind
      device: /home/trans/prom/volume/ELK/fb_data
  logstash_queue:
    name: logstash_queue
    driver_opts:
      type: none
      o: bind
      device: /home/trans/prom/volume/ELK/logstash_queue
