services:

  filebeat:
    container_name: filebeat
    #we need to be in root to access the docker socket and communicate throught it
    user: root
    build:
      context: ./filebeat
      dockerfile: filebeat-dockerfile
    image: filebeat
    pull_policy: never
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - fb_volume:/usr/share/filebeat/data
    networks:
      - ELK-networks
    depends_on:
      logstash:
        condition: service_healthy

  logstash:
    container_name: logstash
    build:
      context: ./logstash
      dockerfile: dockerfile-logstash
    image: logstash
    pull_policy: never
    environment:
      - "LS_JAVA_OPTS=-Xms1024m -Xmx1024m"
      - "queue.type=persisted"
      - "path.queue=/usr/share/logstash/data/queue"
    volumes:
      - logstash_queue:/usr/share/logstash/data
    networks:
      - ELK-networks
    expose:
      - 5044
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9600/_node/stats/pipelines | grep -q '\"main\"'"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      elasticsearch:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1200mb
    ulimits:
      nofile:
        soft: 65536
        hard: 65536


  elasticsearch:
    container_name: elasticsearch
    build:
      context : ./elasticsearch
      dockerfile: elasticsearch-dockerfile
    image: elasticsearch
    pull_policy: never
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false #(will be switched to true for https)
      - "ES_JAVA_OPTS=-Xms3000m -Xmx3000m" #ram limitations for the java process
    volumes:
      - els_logs:/usr/share/elasticsearch/logs # temporary here for logs
      - els_data:/usr/share/elasticsearch/data
    networks:
      - ELK-networks
    expose:
      - 9200
    deploy:
     resources:
      limits:
        memory: 3500mb #ram limitations for the whole container
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cat/health"]
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  ELK-networks:
    driver: bridge

volumes:
  fb_volume:
    name: fb_volume
    driver_opts:
      type: none
      o : bind
      device: /home/trans/prom/volume/ELK/fb_data
  logstash_queue:
    name: logstash_queue
    driver_opts:
      type: none
      o: bind
      device: /home/trans/prom/volume/ELK/logstash_queue
  els_logs:
    name: els_logs
    driver_opts:
      type: none
      o: bind
      device: /home/trans/prom/volume/ELK/els_logs
  els_data:
    name: els_data
    driver_opts:
      type: none
      o: bind
      device: /home/trans/prom/volume/ELK/els_data
